body {
    --accent-color: #168a16;
    --accent-color-light-1: color-mix(in oklab, var(--accent-color), white 10%);
    --background-color: #ffffff;
    --footer-color: color-mix(in oklab, var(--background-color), black 10%);
    --text-color: #000000;
    --nav-text-color: #ffffff;

    font-family: sans-serif;
    background-color: var(--background-color);
}

.main-header {
    background-color: var(--accent-color);
    color: var(--nav-text-color);
}

.primary-nav {
    display: flex;
    justify-content: center;

    > a {
        padding: 1rem;
        color: var(--nav-text-color);
        text-decoration: none;

        &:hover, &:focus-visible {
            background-color: var(--accent-color-light-1);
            outline: none;
        }
    }
}

.content-wrapper {
    max-width: 1000px;
    margin-inline: auto;
}

.main-footer {
    background-color: var(--footer-color);
    margin-top: 2rem;
    padding-block: 1rem;
}

.base-converter-grid {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: .5rem;

    > .input {
        grid-column: 1;
    }

    > .output {
        grid-column: 3;
    }

    > .convert-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;

        grid-column: 2;
        grid-row: span 2;
    }

    > .options {
        grid-row: 1;
    }

    > .box-holder {
        grid-row: 2;

        > label {
            display: block;
        }

        > textarea {
            width: 100%;
            min-height: 100px;
            resize: vertical;
        }
    }
}