.add-element-button {
    --size: 32px;
    background-color: var(--footer-color);
    border: none;
    border-radius: 5px;
    padding: 0;

    > img {
        display: block;
        width: var(--size);
        height: var(--size);
    }
}

#json-area {
    --element-height: 2em;
    --element-indent: 2em;
}

.json-element {
    padding: 0.25em;
    font-family: monospace;
    height: var(--element-height);
}

.json-element > :is(input[type=text], input[type=number]) {
    font-family: monospace;
    height: 100%;
}

.json-boolean {
    display: flex;
    align-items: center;

    > input:checked + .bool-value-indicator::after {
        content: 'true'
    }
    > input:not(:checked) + .bool-value-indicator::after {
        content: 'false'
    }
}

.json-array {
    height: auto;
}

.json-array > details {
    > summary {
        line-height: var(--element-height);
        height: var(--element-height);
    }
}

.json-array-content {
    padding: 0;
    margin: 0 0 0 var(--element-indent);
    border-left: 1px solid gray;

    > li {
        list-style-type: none;
    }
}

.drag-info {
    margin: 0 0 0 var(--element-indent);
}
