<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{util/layout::base-page('Base Converter', ~{::content})}">
<body>
<main th:fragment="content" class="base-converter">
    <div class="base-converter-grid">
        <div class="options input">
            <label for="input-base">Base</label>
            <input type="number" id="input-base" value="10">
        </div>
        <div class="box-holder input">
            <label for="input-box">Input</label>
            <textarea id="input-box"></textarea>
        </div>

        <div class="convert-buttons">
            <button type="button" id="convert-button">
                -->
            </button>
            <button type="button" id="reverse-convert-button">
                <--
            </button>
        </div>

        <div class="options output">
            <label for="output-base">Base</label>
            <input type="number" id="output-base" value="16">
        </div>
        <div class="box-holder output">
            <label for="output-box">Output</label>
            <textarea id="output-box"></textarea>
        </div>
    </div>
</main>
</body>
</html>
