<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{util/layout::base-page('Json Tree Viewer', ~{::content})}">
<body>
<main th:fragment="content">
    <section class="toolbar">
        <button th:replace="~{::json-button('object')}"></button>
        <button th:replace="~{::json-button('array')}"></button>
        <button th:replace="~{::json-button('string')}"></button>
        <button th:replace="~{::json-button('number')}"></button>
        <button th:replace="~{::json-button('boolean')}"></button>
        <button th:replace="~{::json-button('null')}"></button>
    </section>

    <div id="json-area">

    </div>

    <template id="json-string-template" class="json-element-template">
        <div class="json-element json-string" data-type="string">
            &quot;<input type="text" aria-label="string content">&quot;
        </div>
    </template>
    <template id="json-number-template" class="json-element-template">
        <div class="json-element json-number" data-type="number">
            <input type="number" aria-label="number value" value="0">
        </div>
    </template>
    <template id="json-boolean-template" class="json-element-template">
        <div class="json-element json-boolean" data-type="boolean">
            <input type="checkbox" aria-label="boolean value"><span class="bool-value-indicator"></span>
        </div>
    </template>
    <template id="json-null-template" class="json-element-template">
        <div class="json-element json-null" data-type="null">
            null
        </div>
    </template>
    <template id="json-array-template" class="json-element-template">
        <div class="json-element json-array" data-type="array">
            <details>
                <summary>[...]</summary>
                <div class="json-array-symbol">[</div>
                <ul class="json-array-content">
                </ul>
                <em class="drag-info">Drag here to add children...</em>
                <div>]</div>
            </details>
        </div>
    </template>
</main>

<!-- Thymeleaf fragment for generating the buttons for adding elements -->
<button th:fragment="json-button(type)" class="add-element-button" th:attr="data-type=${type}">
    <img th:src="@{/icons/json_tree/{type}.png(type=${type})}" th:alt="'add ' + ${type}">
</button>
</body>
</html>
