<!--Declare doctype and body to make this a valid html document-->
<!doctype html>
<!--Pull in the base page layout and pass in the content fragment-->
<html th:replace="~{layout::base-page('Test Page', ~{::content})}">
<body>
<!--This element acts as the content of the page. It'll get deleted along with the body tag above due to the th::replace
    on the <html>, but before then the code is copied into the base page template.-->
<main th:fragment="content">
    New content
</main>
</body>
</html>
